body {
    font-family: 'Lato', Arial, Verdana, sans-serif;
    font-size: 18px;
	background-image: url('images/flowbackground.jpg');
	background-repeat: repeat;
	background-color: #EFF5FB;
    margin: 5% 10%;
    line-height: 1.5;
	max-width: 1500px;
}
h1 {
    font-family: Calibri, Verdana, sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: midnightblue;
}
h2 {
    font-size: 32px;
    color: midnightblue;
}
#thanks {
	font-size: 40px;
	color: #E83845;
}
h3 {
    font-size: 24px;
    color: #646066;
}
nav {
	padding-bottom: 2%;
}
nav li {
		list-style-type: none;
		display: inline;
		font-weight: 700;
		background-color: #9acfcb;
		padding: 10px;
		margin-bottom: 2px;
		}
nav li a:link {
		text-decoration: none;
		color: midnightblue;
			}
.instructor {
		font-style: italic;
}
#artifact1, #artifact2, #artifact3, #artifact4, #artifact5  {
	max-width: 1000px;
}
#artifact1, #artifact2, #artifact3, #artifact4, #artifact5, .assignments1 {
	padding: 1px 10px;
	margin-bottom: 30px;
}
#artifact1, #artifact3, #artifact5, .assignments1 {
	background-color: #dddddd;
}
.assignments1, .assignments2 {
	max-width: 1000px;
}
#artifact1 img, #artifact3 img {
		width: 100px;
		height: auto;
		float: right;
		margin-top: 25px;
		margin-right: 10px;
		margin-left: 20px;
}
#artifact2 img, #artifact4 img, #artifact5 img {
	width: 130px;
	height: auto;
	float: right;
	margin-top: 35px;
}
footer {
	font-size: 12px;
	justify-content: right;
}
.validicon {
	height: 24px;
	width: auto;
}
#albums {
	max-width: 1200px;
}
#albums li {
	font-weight: 700;
}
#bands dt {
	font-weight: 700;
}
#albums img {
	width: 200px;
	height: auto;
	float: right;
	margin-right: 30px;
	margin-left: 10px;
	margin-top: 30px;
}
#albums a {
	margin-left: 4em;
}
form {
	max-width: 600px;
}
textarea {
	vertical-align: top;
}
#errormsgs {
	color: red;
	font-weight: 800;
	text-decoration: underline;
}
#wrapper {
	max-width: 1200px;
}
#wrapper video {
	float: left;
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 20px;
}
#response {
	padding-left: 25px;
	padding-top: 35px;
}
